.menu-container {
  display: flex;
  position: relative;
  height: 300px;
}

.sidebar-menu {
  margin-top: 50px;
  width: 250px;
  border: 1px solid #ddd;
  height: calc(80vh - 50px);
}

.menu-list {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
}

.menu-list.active {
  background: #f0f8ff;
  font-weight: bold;
}

/* Panel theo sidebar */
.submenu-panel {
  position: absolute;
  top: 50px;
  left: 230px;
  width: 700px;
  height: calc(100vh - 50px);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  z-index: 1100;
  overflow-y: auto;
}

.submenu-panel .list-group-item:hover {
  background: #0d6efd;
  color: #fff;
}
